@import '../../../styles.scss';

.footer {    
    width: 100%;
    background-color: var(--navbar-bg-color);
    padding: 10px 0;
    text-align: center;
    color: var(--bg-color-text);
}

.icon-a {
    color: var(--bg-color-text);
    font-size: 35px;
    cursor: pointer;
    &:not(:last-of-type){
        margin-right: 20px;
    }
}

.icon-a:hover {
    color: var(--hover-color);
}

.p-footer {
    margin-bottom: 0px;
}

.ref-a {
    color: var(--bg-color-text);
}

.ref-a:hover {
    color: var(--hover-color);
}

