<nav class="header navbar navbar-expand-lg fixed-top navbar-dark">
	<div class="container">
		<div class="navbar-brand">
			<a routerLink="/" (click)="scrollToTop()">KIRK SILVA</a>
		</div>

		<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
			aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>

		<div class="collapse navbar-collapse justify-content-end" id="navbarNav">
			<ul class="navbar-nav align-items-center">
				<li class="nav-item" [class.active]="currentSection === 'about-me'">
					<a class="nav-link" (click)="scrollToSection('about-me')">{{ 'ABOUT_ME' | translate }}</a>
				</li>
				<li class="nav-item" [class.active]="currentSection === 'skills'">
					<a class="nav-link" (click)="scrollToSection('skills')">{{ 'SKILLS' | translate }}</a>
				</li>
				<li class="nav-item" [class.active]="currentSection === 'projects'">
					<a class="nav-link" (click)="scrollToSection('projects')">{{ 'PROJECTS' | translate }}</a>
				</li>
				<li class="nav-item" [class.active]="currentSection === 'curriculum'">
					<a class="nav-link" (click)="scrollToSection('curriculum')">{{ 'CURRICULUM' | translate }}</a>
				</li>
				<li class="nav-item d-flex align-items-center">
					<img src="../../../assets/icons/en-us.png" alt="English" class="flag"
						[class.active-flag]="currentLanguage === 'en'" (click)="setLanguage('en')">
					<img src="../../../assets/icons/pt-br.png" alt="Portuguese" class="flag"
						[class.active-flag]="currentLanguage === 'pt'" (click)="setLanguage('pt')">
				</li>
				<li class="nav-item">
					<button (click)="toggleTheme()">Toggle Theme</button>
				</li>
			</ul>
		</div>
	</div>
</nav>