@import '../../../styles.scss';

.header {
    background-color: var(--navbar-bg-color);
    padding: 25px;
}

.navbar-nav {
    align-items: center;
}

.navbar-brand,
.navbar-brand a,
.navbar-nav .nav-link {
    text-decoration: none;
    color: var(--bg-color-text);
    padding-right: 40px;
}

.navbar-nav .nav-item:hover .nav-link {
    color: var(--hover-color);
}

.nav-item.active .nav-link {
    color: var(--hover-color);
}

.nav-link {
    cursor: pointer;
}

.flag {
    width: 30px;
    height: auto;
    margin-left: 10px;
    cursor: pointer;
    filter: grayscale(100%);
}

.active-flag {
    filter: none;
}

//Responsive
@media (max-width: 991.98px) {

    .navbar-nav .nav-item {
        margin-top: 30px;
    }
}