@import '../../../styles.scss';

.header {
    background-color: $header-buttons-bg;
    padding: 25px;
}

.navbar-brand, .navbar-brand a, .navbar-nav .nav-link {
    text-decoration: none;
    color: $header-buttons-bg-text;
    padding-right: 40px;
}

.navbar-nav .nav-item:hover .nav-link {
    color: $element-hover;
}

//Responsive
@media (max-width: 991.98px) {

    .navbar-nav .nav-item {
        margin-top: 30px;
    }
}