.dark-theme {
    --body-bg-color: #1e1e1e;
    --navbar-bg-color: #3c3c3c;
    --btn-bg-color: #5a6c9c;
    --arrow-bg-color: #FFF;
    --bg-color: #5a6c9c;
    --bg-color-text: #FFF;
    --text-color: #FFF;
    --hover-color: #74f8ff;
}