.light-theme {
    --body-bg-color: #EFEFEF;
    --navbar-bg-color: #000;
    --btn-bg-color: #000;
    --arrow-bg-color: #000;
    --bg-color: #000;
    --bg-color-text: #FFF;
    --text-color: #303030;
    --hover-color: #74f8ff;
}