@import '../../../styles.scss';

.skills-title {
    display: flex;
    align-items: center;
}

.skills-title h1 {
    margin: 0;
}

.skills-content {
    margin-top: 20px;
}

.skills-img {
    width: 90px;
    height: 90px;
}