<div id="skills" class="content">
    <div class="row text-center skills-title">
        <div class="col-md-5">
            <h1>Skills</h1>
        </div>
        <div class="col-md-7">
            <div class="row">
                <div class="col-sm-3">
                    <img class="skills-img" src="../../../assets/icons/icons8-angular-96.png">
                    <h3>ANGULAR</h3>
                </div>
                <div class="col-sm-3">
                    <img class="skills-img" src="../../../assets/icons/icons8-bootstrap-480.png">
                    <h3>BOOTSTRAP</h3>
                </div>
                <div class="col-sm-3">
                    <img class="skills-img" src="../../../assets/icons/icons8-css-480.png">
                    <h3>CSS</h3>
                </div>
                <div class="col-sm-3">
                    <img class="skills-img" src="../../../assets/icons/icons8-docker-logo-96.png">
                    <h3>DOCKER</h3>
                </div>
            </div>
            <div class="row skills-content">
                <div class="col-sm-3">
                    <img class="skills-img" src="../../../assets/icons/icons8-figma-480.png">
                    <h3>FIGMA</h3>
                </div>
                <div class="col-sm-3">
                    <img class="skills-img" src="../../../assets/icons/icons8-git-480.png">
                    <h3>GIT</h3>
                </div>
                <div class="col-sm-3">
                    <img class="skills-img" src="../../../assets/icons/icons8-html-480.png">
                    <h3>HTML</h3>
                </div>
                <div class="col-sm-3">
                    <img class="skills-img" src="../../../assets/icons/icons8-logo-java-coffee-cup-480.png">
                    <h3>JAVA</h3>
                </div>
            </div>
            <div class="row skills-content">
                <div class="col-sm-3">
                    <img class="skills-img" src="../../../assets/icons/icons8-javascript-480.png">
                    <h3>JAVASCRIPT</h3>
                </div>
                <div class="col-sm-3">
                    <img class="skills-img" src="../../../assets/icons/icons8-mysql-96.png">
                    <h3>MYSQL</h3>
                </div>
                <div class="col-sm-3">
                    <img class="skills-img" src="../../../assets/icons/icons8-php-480.png">
                    <h3>PHP</h3>
                </div>
                <div class="col-sm-3">
                    <img class="skills-img" src="../../../assets/icons/icons8-python-480.png">
                    <h3>PYTHON</h3>
                </div>
            </div>
            <div class="row justify-content-md-center skills-content">
                <div class="col-sm-3">
                    <img class="skills-img" src="../../../assets/icons/icons8-logotipo-da-primavera-480.png">
                    <h3>SPRINGBOOT</h3>
                </div>
                <div class="col-sm-3">
                    <img class="skills-img" src="../../../assets/icons/icons8-texto-datilografado-240.png">
                    <h3>TYPESCRIPT</h3>
                </div>
                <div class="col-sm-3">
                    <img class="skills-img" src="../../../assets/icons/icons8-wordpress-240.png">
                    <h3>WORDPRESS</h3>
                </div>
                <div class="col-sm-3">
                </div>
            </div>
        </div>
    </div>

    <app-down-arrow [link]="'projects'"></app-down-arrow>
</div>