@import '../../../styles.scss';

.up-arrow-p {
    font-size: 20px;
}

.up-arrow-a {
    cursor: pointer;
    color: var(--arrow-bg-color);
    font-size: 40px;
}

.up-arrow-a:hover {
    color: var(--hover-color);
}