<div id="curriculum" class="content">
    <h1 class="text-center content-title">Curriculum</h1>
    <div class="text-center mt-5">
        <div>
            <h5><img class="curriculum-img" src="../../../assets/icons/icons8-brazil-96.png"> PT-BR Version:</h5>
        </div>
        <div class="mt-3">
            <a class="btn btn-xl btn-download-resume" href="" target="_blank">Curriculum PT-BR <fa-icon [icon]="faDownload"></fa-icon></a>     
        </div> 
    </div>

    <div class="text-center mt-5">
        <div>
            <h5><img class="curriculum-img" src="../../../assets/icons/icons8-usa-96.png"> EN-US Version:</h5>
        </div>
        <div class="mt-3">
            <a class="btn btn-xl btn-download-resume" href="" target="_blank">Curriculum EN-US <fa-icon [icon]="faDownload"></fa-icon></a>     
        </div> 
    </div>

    <app-up-arrow></app-up-arrow>
</div>
