@import '../../../styles.scss';


.curriculum-div {
    margin-top: 6.15rem;
}

.curriculum-img {
    width: 35px;
}

.btn-download-resume{
    border: 2px solid;
    color: var(--arrow-bg-color);
    border-color: var(--arrow-bg-color);
}

.btn-download-resume:hover{
    color: var(--hover-color);
    border-color: var(--hover-color);
}