<div id="curriculum" class="content">
    <h1 class="text-center content-title">{{ 'CURRICULUM' | translate }}</h1>
    <div class="text-center curriculum-div">
        <div>
            <h5><img class="curriculum-img" src="../../../assets/icons/icons8-brazil-96.png"> {{ 'PT_BR_VERSION' | translate }}:</h5>
        </div>
        <div class="mt-3">
            <a class="btn btn-xl btn-download-resume" href="https://drive.google.com/file/d/1vqBCV5w7bxKkp4lkM_y0wjdjXA0vLqZv/view?usp=drive_link" target="_blank">{{ 'PT_BR_CURRICULUM' | translate }} <fa-icon [icon]="faDownload"></fa-icon></a>     
        </div> 
    </div>

    <div class="text-center curriculum-div">
        <div>
            <h5><img class="curriculum-img" src="../../../assets/icons/icons8-usa-96.png"> {{ 'EN_US_VERSION' | translate }}:</h5>
        </div>
        <div class="mt-3">
            <a class="btn btn-xl btn-download-resume" href="https://drive.google.com/file/d/1e83N_9ek5l_byOe8kKLblvt61nryM6YU/view?usp=sharing" target="_blank">{{ 'EN_US_CURRICULUM' | translate }} <fa-icon [icon]="faDownload"></fa-icon></a>     
        </div> 
    </div>

    <app-up-arrow></app-up-arrow>
</div>
