<app-header></app-header>
<app-home></app-home>
<app-parallax [backgroundImage]="'../../../assets/img/parallax-img.png'"></app-parallax>
<app-about-me></app-about-me>
<app-parallax [backgroundImage]="'../../../assets/img/parallax-img2.png'"></app-parallax>
<app-skills></app-skills>
<app-parallax [backgroundImage]="'../../../assets/img/parallax-img3.png'"></app-parallax>
<app-projects></app-projects>
<app-parallax [backgroundImage]="'../../../assets/img/parallax-img4.png'"></app-parallax>
<app-curriculum></app-curriculum>
<app-footer></app-footer>