<div class="container main-div content">
    <div class="col text-center">
        <h1 class="main-title">Kirk Kinichi Tomisaki Rodrigues da Silva</h1>
    </div>
    <div class="col text-center">
        <h3 class="sub-title">{{ 'COMPUTER_ENGINEER' | translate }} 🎓</h3>
        <h3>{{ 'FULL_STACK_DEVELOPER' | translate }} 💻</h3>
    </div>
    <div class="container text-center">
        <button class="home-btn btn btn-lg" onclick="window.location.href='mailto:kirk.ki@hotmail.com'" >{{ 'REACH_OUT' | translate }}</button>
    </div>

    <app-down-arrow [link]="'about-me'"></app-down-arrow>
</div>