@import '../../../styles.scss';

.main-div {
    margin-top: 250px;
    margin-bottom: 100px;
}

.main-title {
    font-size: 70px;
}

.sub-title {
    margin-top: 50px;
}

.home-btn {
    margin-top: 80px;
    color: $header-buttons-bg-text;
    background-color: $header-buttons-bg;
}

.home-btn:hover {
    background-color: $element-hover;
}

.arrow-div {
    margin-top: 100px;
}

.icon-a {
    color: $header-buttons-bg;
    font-size: 80px;
}

.icon-a:hover {
    color: $element-hover;
}
