@import '../../../styles.scss';

.main-div {
    margin-top: 250px;
    margin-bottom: 100px;
}

.main-title {
    font-size: 70px;
}

.sub-title {
    margin-top: 50px;
}

.home-btn {
    margin-top: 80px;
    color: var(--bg-color-text);
    background-color: var(--bg-color);
}

.home-btn:hover {
    background-color: var(--hover-color);
}