<div class="container main-div content">
    <div class="col text-center">
        <h1 class="main-title">Kirk Kinichi Tomisaki Rodrigues da Silva</h1>
    </div>
    <div class="col text-center">
        <h3 class="sub-title">Computer Engineer 🎓</h3>
        <h3>Full Stack Developer 💻</h3>
    </div>
    <div class="container text-center">
        <button class="home-btn btn btn-lg">Reach Out</button>
    </div>

    <div class="container arrow-div text-center">
        <a class="icon-a" href="#"><fa-icon [icon]="faAngleDoubleDown"></fa-icon></a>
    </div>
</div>