@import '../../../styles.scss';

.project-img {
    width:500px;
}

.filter-btn {
    margin-right: 15px;
    font-size: 20px;
    padding: 5px 10px;
    color: var(--bg-color-text);
    background-color: var(--bg-color);
}

.filter-btn:hover {
    background-color: var(--hover-color);
}

.btn-active,
.btn-active:hover {
    background-color: var(--hover-color);
    color: var(--bg-color-text);
}

.last-btn {
    margin-right: 0px;
}

.project-btn {
    margin-right: 15px;
    font-size: 15px;
    padding: 5px 10px;
    border: 0px;
    color: var(--bg-color-text);
}

.project-btn:hover {
    background-color: var(--hover-color);
}

.github-btn {
    background-color: var(--bg-color);
}

@media (max-width: 1600px) {
    
    .project-img {
        width:370px;
    }
}

@media (max-width: 1200px) {
    
    .project-img {
        width:290px;
    }
}

@media (max-width: 934px) {
    
    .project-img {
        width:220px;
    }
}

@media (max-width: 425px) {
    
    .project-img {
        width:310px;
    }
}

@media (max-width: 320px) {
    
    .project-img {
        width:240px;
    }
}
  