<div id="projects" class="content">
    <h1 class="text-center content-title">{{ 'PROJECTS' | translate }}</h1>
    <div class="row text-center mt-4">
        <div class="col-md-12">
            <button class="filter-btn btn btn-lg mt-4" (click)="filterProjects('Angular')"
                [class.active]="isFilterActive('Angular')"
                [class.btn-active]="isFilterActive('Angular')">Angular</button>
            <button class="filter-btn btn btn-lg mt-4" (click)="filterProjects('Docker')"
                [class.active]="isFilterActive('Docker')" [class.btn-active]="isFilterActive('Docker')">Docker</button>
            <button class="filter-btn btn btn-lg mt-4" (click)="filterProjects('Java')"
                [class.active]="isFilterActive('Java')" [class.btn-active]="isFilterActive('Java')">Java</button>
                <button class="filter-btn btn btn-lg mt-4" (click)="filterProjects('Laravel')"
                    [class.active]="isFilterActive('Laravel')" [class.btn-active]="isFilterActive('Laravel')">Laravel</button>
            <button class="filter-btn btn btn-lg mt-4" (click)="filterProjects('NestJS')"
                [class.active]="isFilterActive('NestJS')" [class.btn-active]="isFilterActive('NestJS')">NestJS</button>
            <button class="filter-btn btn btn-lg mt-4" (click)="filterProjects('PHP')"
                [class.active]="isFilterActive('PHP')" [class.btn-active]="isFilterActive('PHP')">PHP</button>

        </div>
    </div>

    <hr class="mt-5">

    <div *ngIf="showAdvice && filteredProjects.length === 0" class="alert alert-warning mt-5" role="alert">
        {{ 'NO_PROJECTS_FOR' | translate }}: {{ showAdvice }}.
    </div>

    <div class="row justify-content-md-center mt-5" *ngFor="let project of filteredProjects">
        <div class="col-md-4 text-center div-img-about">
            <img [src]="project.imageUrl" class="card-img-top project-img" alt="{{ project.title }}">
        </div>
        <div class="col-md-6 text-justify div-text-about">
            <h2 class="text-center">{{ project.title }}</h2>
            <hr>
            <p class="mt-4">
                <strong>{{ 'DESCRIPTION' | translate }}: </strong>{{ translateProjectDescription(project) }}
            </p>
            <p class="mt-3">
                <strong>{{ 'TECHNOLOGIES_AND_TOOLS' | translate }}: </strong>{{ project.tools }}
            </p>

            <button class="project-btn btn btn-dark btn-lg mt-3 github-btn" (click)="openLink(project.githubUrl)">{{
                'SEE_ON_GITHUB' | translate }}</button>
        </div>
    </div>

    <hr class="mt-5">

    <app-down-arrow [link]="'curriculum'"></app-down-arrow>
</div>