@import 'app/themes/dark-theme.scss';
@import 'app/themes/light-theme.scss';

//Global Variables
$text-color: #303030;
$element-hover:#74f8ff;
$header-buttons-bg: #000;
$header-buttons-bg-text: #FFF;
$body-bck-color: #EFEFEF;

body {
    font-family: "Poppins", sans-serif;
    color: var(--text-color);
    background-color: var(--body-bg-color);
}

.content {
    padding: 40px;
}

hr {
    height: 2px;
    color: var(--bg-color);
}

.content-title {
    margin-top: 100px;
}

.arrow-div {
    margin-top: 90px;
}