//Global Variables
$text-color: #303030;
$element-hover:#74f8ff;
$header-buttons-bg: #5254FF;
$header-buttons-bg-text: #FFF;

body {
    font-family: "Poppins", sans-serif;
    color: $text-color;
}

.content {
    padding: 40px;
}

hr {
    height: 2px;
    color: $header-buttons-bg;
}

.content-title {
    margin-top: 100px;
}

.arrow-div {
    margin-top: 90px;
}