@import '../../../styles.scss';

.content {
    margin-bottom: 100px;
}

.div-img-about {
    margin-top: 170px;
}

.img-about {
    height: 400px;
    width: 400px;
    border-radius: 50%;
    border: 3px solid var(--bg-color);
}

.div-text-about {
    margin-top: 170px;
}

@media (max-width: 1024px) {
    
    .img-about {
        height: 300px;
        width: 300px;
    }
}

@media (max-width: 768px) {
    
    .img-about {
        height: 270px;
        width: 270px;
    }
}

@media (max-width: 425px) {
    
    .img-about {
        height: 300px;
        width: 300px;
    }

    .div-img-about {
        margin-top: 115px;
    }

    .div-text-about {
        margin-top: 90px;
    }
}

@media (max-width: 320px) {
    
    .img-about {
        height: 250px;
        width: 250px;
    }
}