<div id="about-me" class="content">
    <div class="row justify-content-md-center">
        <div class="col-md-5 text-center div-img-about">
            <img class="img-about" src="../../../assets/img/parallax-img.png">
        </div>
        <div class="col-md-6 text-justify div-text-about">
            <h1>About Me</h1>
            <p class="mt-5">
                I'm a Computer Engineer based in Brazil with a solid foundation in engineering and programming. I studied a wide range
                of subjects during my undergraduate studies, from distributed systems and artificial intelligence to
                algorithms, object-oriented programming, and data structures. I have both academic and practical project
                experience in my education, which allows me to utilize what I've learned in difficult situations. In
                addition, I've improved my teamwork, analytical thinking, and problem-solving abilities. In order to
                keep up with market trends, I am constantly ready to learn new things and to investigate new
                technologies and approaches. I am now studying a postgraduate degree in Software Architecture on
                Saturdays, and I have advanced proficiency in English.
            </p>
        </div>
    </div>

    <app-down-arrow [link]="'skills'"></app-down-arrow>
</div>