@import '../../../styles.scss';

.content {
    margin-bottom: 100px;
}

.div-img-about {
    margin-top: 170px;
}

.img-about {
    height: 400px;
    width: 400px;
    border-radius: 50%;
    border: 3px solid $header-buttons-bg;
}

.div-text-about {
    margin-top: 170px;
}