<div class="content">
    <div class="row">
        <div class="col-md-6 text-center div-img-about">
            <img class="img-about" src="../../../assets/img/parallax-img.png">
        </div>
        <div class="col-md-6 text-justify div-text-about">
            <h1>About Me</h1>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque non nisl nec nisi interdum
                sollicitudin a eu quam. Integer luctus ex ultricies faucibus condimentum. Donec sollicitudin fringilla
                tellus a pellentesque. Sed sit amet tortor et turpis imperdiet interdum ac ut diam. Curabitur et sem
                tempus, condimentum nulla ac, auctor erat. Aliquam at dui nec lectus hendrerit sollicitudin in id
                tellus. Aenean eu rhoncus elit, eget porta massa. Suspendisse gravida vehicula odio vitae consectetur.
                Donec id urna mi. Duis et arcu quis augue fermentum suscipit at in ligula. Duis rutrum ultricies mauris,
                nec sagittis tortor sollicitudin quis. Nullam sed nunc molestie, volutpat mauris at, fermentum lorem.
                Nunc odio ligula, interdum vitae odio ultrices, gravida porttitor sem. Morbi feugiat ante at imperdiet
                posuere. Nulla quis leo non risus ultricies vulputate. Donec ut egestas mi.
            </p>
            <p>
                Nulla elit odio, mattis at venenatis a, tristique aliquam urna. Sed imperdiet felis augue, vel fringilla
                erat dignissim eu. Quisque nec nunc at felis porttitor imperdiet id vel metus. Donec ut mauris sodales,
                venenatis est sed, pellentesque metus. Quisque id velit at nibh rutrum maximus ac nec ante. Suspendisse
                in convallis ligula. Maecenas mattis egestas justo non vehicula. Aliquam viverra ultricies nisi. Etiam
                finibus arcu sit amet lorem consectetur, eget efficitur lorem luctus. Quisque venenatis nisl eget eros
                pellentesque mollis. Cras elementum, purus nec porta hendrerit, nisl ligula luctus purus, ac condimentum
                eros sem placerat dolor. Proin blandit accumsan eros, non sagittis turpis ultrices in. Etiam tincidunt
                augue ut tortor cursus, eget sagittis lacus dictum. Etiam risus diam, tempus in dignissim vitae,
                pulvinar ac arcu.
            </p>            
        </div>
    </div>
</div>