.content {
    margin-bottom: 100px;
}

.div-img-about {
    margin-top: 170px;
}

.img-about {
    border-radius: 50%;
}

.div-text-about {
    margin-top: 170px;
}


.img-about {
    height: 400px;
    width: 400px;
}