<div id="about-me" class="content">
    <div class="row justify-content-md-center">
        <div class="col-md-5 text-center div-img-about">
            <img class="img-about" src="../../../assets/img/profile.jpeg">
        </div>
        <div class="col-md-6 text-justify div-text-about">
            <h1>{{ 'ABOUT_ME' | translate }}</h1>
            <p class="mt-5">
                {{ 'ABOUT_ME_PARAGRAPH' | translate }}
            </p>
        </div>
    </div>

    <app-down-arrow [link]="'skills'"></app-down-arrow>
</div>